#mainImage {
	background: black;
	border: none;
	widht: 100vw;
	height: 100vh;
}

html, body {
	background: black;
	overflow-x: hidden;
}

#image-control-wrapper {
	position: absolute;
	top: 10px;
	left: 10px;
}

#mainImage #ajaxloader_image {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -34px;
	margin-top: -21px;
}

#mainImage #ajaxloader_image img {
	border: none;
}

#zoomSliderLabel {
	align-items: center;
	display: flex;
	top: 0;
	left: 0;
	border: none;
}

#zoomSliderLabel input {
	border: none;
	background-color: transparent;
	color: #aaa;
	width: 2rem;
	text-align: right;
}

#zoomSliderLabel input:focus {
	background-color: white;
	color: #666;
}

#viewer_controls_nav {

}

#viewer_controls_nav ul {
	list-style: none;
	text-align: right;
	margin-bottom: 5px;
}

#viewer_controls_nav ul li {
	display: inline;
}

br {
	content: "";
	margin: 0px;
	display: block;
	font-size: 0px;
}

#ocrText {
	max-height: 100vh;
	overflow-y: auto;
}

.fullscreen-control {
	--bs-body-color: #aaa;
	background: rgba(0,0,0,0.6);
	color: #aaa;
	font-size: 0.625rem;
	padding: 1em;
	position: absolute;
}